.projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 58vw;
}

.itemProj{

    width: 14vw;
    height: 14.5vw;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.222);
    color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}

.itemProj.ultimo{

    justify-content: center;
}


.tituloProj{
    text-align: center;
    font-size: 20px;
}
.descricaoProj{
    margin: 6px;
    font-size: 17px;
    text-align: center;

}