#menu-config { /* menu linguagens */
    display: none;
    position: fixed;
    bottom: 60px;
    left: 20px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    animation: slide-up 0.3s ease;
    line-height: 1.5;
}

@keyframes slide-up { /*animação de entrada do menu*/
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  
.iconelang,      /*icones linguagens*/
.iconecontrast {
    margin-right: 5px;
    margin-left: 10px;
}

.footer-menu {   /*menu inferior */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.icon-bar {  /*barra de icones centrais*/
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    flex: 1;
}

.menu-icon { /*icones do menu inferior*/
    font-size: 23px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease;
}

.menu-icon:hover { /*passando mão em cima*/
    transform: translateY(-15px);
}

.mini-div {  /*div onde tá meus icones de configuração*/
    display: flex;
    align-items: center;
    margin-left: 20px;
    bottom: 16px;
    position: absolute;
}

.fa-gear {  /*botão configuraçõ (engrenagem)*/
    font-size: 25px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.fa-gear:hover { /*passar o mouse na engrenagem*/
    transform: scale(1.2) rotate(99deg);
    cursor: pointer;
}

a.footer-menu:visited { /*links clicados*/
    color: #fff;
}
a{ /*links */
    color: #fff;
}

/*
.fa-moon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.fa-moon {
    font-size: 25px;
    margin-right: 10px;
    transition: transform 0.3s ease;
} */
 