   body {
       margin: 0;
       padding: 0;
       background-image: url('../resources/img/starguardianBackground.webp');
       background-size: cover;
       font-family: Arial, sans-serif;
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       overflow: hidden;
       box-sizing: border-box;

   }
   a{
    text-decoration: none;
   }
   .background-div {
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .main-content {
       width: 80%;
       margin: 0 auto;
       border-radius: 15px;
        
       padding: 30px;
       display: flex;
   }
   .main-content2 {
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
     flex-direction: column;
    padding: 30px;
    display: flex;
    align-items: center;
}

   .image-container {
        
       flex: 1;
       padding-top: 30px;
       
   }

   img {
       max-width: 100%;
       height: auto;
       border-radius: 10px;
   }

   .text-container {
       flex: 1.5;
       
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   h2 {
       font-size: 24px;
       margin-bottom: 30px;
       color: rgb(255, 255, 255);
       text-transform: uppercase;
   }

   p {
       font-size: 18px;
       color: rgb(255, 255, 255);
       line-height: 1.5;
   }
