   body {
       margin: 0;
       padding: 0;
       background-image: url('../resources/star-guardian-background-environment-art-league-of-legends-v0-z5mbwb9h9jbb1.webp');
       background-size: cover;
       font-family: Arial, sans-serif;
       display: flex;
       flex-direction: column;
       min-height: 100vh;
       overflow: hidden;
       box-sizing: border-box;

   }



#alerta-do-dev {
    position: fixed;
    top: -150px;
    left: 0;
    width: 275px;
    background-color: #3498db; 
    color: #ecf0f1; 
    padding: 25px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    animation: slideDown 1s ease-in-out forwards;
    z-index: 1000;  
}

#alerta-do-dev1 {
    position: fixed;
    top: -150px;
    left: 0;
    width: 275px;
    background-color: #3498db; 
    color: #ecf0f1; 
    padding: 25px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    animation: slideDown 6s ease-in-out forwards;
    z-index: 1000;  
}

#alerta-do-dev1 p {
    margin: 0; 
}

#alerta-do-dev p {
    margin: 0; 
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes slideDown {
    from {
        top: -150px; 
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1; 
    }
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}




  
  
   .background-div {
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .main-content {
       width: 80%;
       margin: 0 auto;
       border-radius: 15px;
        
       padding: 30px;
       display: flex;
   }

   .image-container {
        
       flex: 1;
       padding-top: 30px;
       
   }

   img {
       max-width: 100%;
       height: auto;
       border-radius: 10px;
   }

   .text-container {
       flex: 1.5;
       padding: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   h2 {
       font-size: 24px;
       margin-bottom: 30px;
       color: rgb(255, 255, 255);
       text-transform: uppercase;
   }

   p {
       font-size: 18px;
       color: rgb(255, 255, 255);
       line-height: 1.5;
   }

   .arrow-icon {
       position: absolute;
       font-size: 20px;
       color: #fff;
       top: 45%;
       cursor: pointer;
   }

   .arrow-icon.left {
       left: 10px;
   }

   .arrow-icon.right {
       right: 10px;
   }